/* Navigation bar container */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    margin-bottom: 20px;
  }
  
  /* Navbar container */
  .navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__links {
    display: flex;
    /* border: 1px solid black; */
    margin: 0 auto;
  }
  
  /* Navbar logo */
  .navbar__img img {
    max-width: 100px;
  }
  
  /* Navbar links */
  .navbar__links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar__links li {
    margin-right: 20px;
    display: flex;
  }
  
  /* Navbar link styling */
  .navbar__links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  /* Hover effect for links */
  .navbar__links a:hover {
    color: #ffa3a3;
  }
  
  /* Navbar buttons */
  .navbar__buttons {
    display: flex;
    margin: 0 auto;
  }
  
  /* Styling for Sign In and Register buttons */
  .navbar__buttons a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Hover effect for buttons */
  .navbar__buttons a:hover {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  .logout--btn {
    background-color: #ff3333; /* Red background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding for the button */
    font-size: 16px; /* Font size */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
  }
  
  .logout--btn:hover {
    background-color: #cc0000; /* Darker red on hover */
  }
  